---
# tasks file for guacamole
- name: Create the /var/guacamole directory
  ansible.builtin.file:
    path: /var/guacamole
    state: directory
    mode: 0755

- name: Download and untar the guacamole-composition tarball
  ansible.builtin.unarchive:
    src: >
      https://api.github.com/repos/cisagov/guacamole-composition/tarball/develop
    dest: /var/guacamole
    remote_src: yes
    extra_opts:
      - "--strip-components=1"
    creates: /var/guacamole/docker-compose.yml

- name: Pull the Docker images used by the Guacamole Docker composition
  block:
    # Docker is only enabled in ansible-role-docker, but we need it to
    # actually be running in order to pull Docker images.
    - name: Start Docker
      ansible.builtin.service:
        name: docker
        state: started

    # Ideally we'd use the community.general.docker_compose Ansible
    # module for pulling the images, but that module does not allow
    # for pulling images without actually starting up the composition.
    - name: >
        Pull Docker images used by the Guacamole Docker composition
      community.general.docker_image:
        name: "{{ item }}"
        source: pull
      loop:
        - cisagov/guacscanner:1.0.0
        - guacamole/guacd
        - guacamole/guacamole
        # The version of the JDBC PostgreSQL driver included in the
        # Guacamole Docker image (the one tagged "latest", as of
        # November 5, 2021) is too old to work with PostgreSQL 14 or
        # later.
        - postgres:13

- name: Update dummy username/password with real values
  ansible.builtin.copy:
    content: "{{ item.contents }}"
    dest: "/var/guacamole/src/secrets/{{ item.filename }}"
    mode: 0664
  loop:
    - {filename: "postgres-username", contents: "{{ postgres_username }}"}
    - {filename: "postgres-password", contents: "{{ postgres_password }}"}
    - {filename: "private-ssh-key", contents: "{{ private_ssh_key }}"}
    - {filename: "rdp-username", contents: "{{ rdp_username }}"}
    - {filename: "rdp-password", contents: "{{ rdp_password }}"}
    - {filename: "vnc-username", contents: "{{ vnc_username }}"}
    - {filename: "vnc-password", contents: "{{ vnc_password }}"}
    - {filename: "windows-sftp-base", contents: "{{ windows_sftp_base }}"}
  loop_control:
    label: "{{ item.filename }}"

- name: Configure guacamole service
  block:
    - name: Set up guacamole as a systemd service
      ansible.builtin.copy:
        src: guacamole-composition.service
        dest: /lib/systemd/system/
        mode: 0644

    - name: Systemd daemon-reload
      ansible.builtin.systemd:
        daemon_reload: true

    - name: Enable guacamole systemd service
      ansible.builtin.systemd:
        name: guacamole-composition.service
        enabled: true
  when:
    - ansible_service_mgr == "systemd"

- name: Configure PAM for guacamole and guacamole-admin services
  ansible.builtin.copy:
    content: |
        auth    required   pam_sss.so
        account required   pam_sss.so
    dest: /etc/pam.d/{{ item }}
    mode: 0644
  loop:
    - guacamole
    - guacamole-admin

# TODO - Fix below tasks for non-Debian hosts, so we can add support
# for them.
- name: Configure httpd for guacamole
  block:
    - name: Disable listening on port 80
      ansible.builtin.lineinfile:
        path: /etc/apache2/ports.conf
        state: absent
        regexp: Listen 80

    - name: Disable default httpd configuration
      ansible.builtin.file:
        path: /etc/apache2/sites-enabled/000-default.conf
        state: absent

    # This helps us with idempotence, since if we tell apache2ctl not
    # to check the config then it blindly tries to install all the
    # modules again when it installs cisagov/ansible-role-httpd a
    # second time and fails.
    - name: Create dummy non-empty SSL cert files so apache2ctl thinks the config is valid
      block:
        - name: Ensure cert directory exists
          ansible.builtin.file:
            path: /var/guacamole/httpd/ssl
            state: directory
            mode: 0755
        - name: Create dummy cert files
          ansible.builtin.copy:
            content: Hello
            dest: /var/guacamole/httpd/ssl/{{ item }}
            mode: 0644
          loop:
            - self.cert
            - self-ssl.key

    - name: Copy guacamole httpd configuration
      ansible.builtin.copy:
        src: guacamole_httpd_config
        dest: /etc/apache2/sites-available/guacamole.conf
        mode: 0644

    - name: Enable guacamole httpd configuration
      ansible.builtin.file:
        src: /etc/apache2/sites-available/guacamole.conf
        dest: /etc/apache2/sites-enabled/guacamole.conf
        state: link

    # The real SSL certificates for the web server aren't available
    # until cloud-final has completed.
    - name: Ensure that httpd only starts after cloud-final has completed
      ansible.builtin.lineinfile:
        path: /lib/systemd/system/apache2.service
        backrefs: yes
        # The exclamation mark forces us to quote the string because
        # it is a special character in YAML.
        #
        # The (?<!...) jazz is a negative look-behind assertion.  See
        # here, for example:
        # https://docs.python.org/3/library/re.html
        #
        # Note also that cloud-final.service must always appear at the
        # end of the After=... line for this to work.
        regexp: '^After=(.*)(?<!cloud\-final\.service)$'
        line: After=\1 cloud-final.service

- name: Copy setup script
  ansible.builtin.copy:
    src: 02_setup_guacamole_services.sh
    dest: /usr/local/sbin
    mode: 0500
